<!DOCTYPE html>
<html>
<head>
	<title>XYZ Corporation - HR Hub</title>
</head>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div class="container">
  
  <h1>XYZ Corporation - HR Hub</h1>

  <p>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/employees">Records</a></li>
      <li><a href="/employees/new">Onboard</a></li>
      <li><a href="/payroll">Payroll</a></li>
    </ul>
  </p>  
