<!DOCTYPE html>
<html>
<head>
	<title>XYZ Corporation - HR Hub</title>
</head>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div class="container">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> XYZ Corporation - HR Hub</a>
      </div>
    </div>
  </nav>

  <p>
    <ul class="nav nav-tabs">
      <li id="records"><a href="/employees">Main records</a></li>
      <li id="newemployees"><a href="/employees/new">Onboard</a></li>
      <li id="payroll"><a href="/payroll">Payroll report</a></li>
      <li id="geography"><a href="/geography">Geography report</a></li>
      <li id="vacation"><a href="/vacation">Vacation report</a></li>
    </ul>
  </p>