<% include partials/header %>

<h3>Edit <%= data.firstName%> <%= data.lastName %></h3>

<form class="form-horizontal" action="/employees/<%= data._id %>?_method=PUT" method="POST" id="theForm">
  <% include partials/form_employee %>   
</form>

<script type="text/javascript" src="/scripts/formvalidate_main.js"></script>

<% include partials/footer %>

<% include partials/populateform %>

<%
  if(queryStr){
%>

  <script>
    document.querySelector("#<%= queryStr %>").select();
  </script>

<%
  }
%>
