<% include partials/header %>

<form class="form-horizontal" method="post" action="/employees" id="theForm">
  
  <% include partials/form_employee %>    

</form>

<script type="text/javascript" src="/scripts/formvalidate_main.js"></script>

<% include partials/footer %>