<% include partials/header2 %>

<h2>Onboard Employee</h2>

<form class="form-horizontal" method="post" action="/employees">
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="firstName">First Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="employee[firstName]" id="firstName">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="lastName">Last Name:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="employee[lastName]" id="lastName">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10"> 
      <input type="email" class="form-control"name="employee[email]" id="email">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="address">Address:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="employee[address]" id="address" placeholder="Street number and street name only">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="city">City:</label>
    <div class="col-sm-7"> 
      <input type="text" class="form-control" name="employee[city]" id="city">
    </div>
    <div class="col-sm-3"> 
      <select class="form-control" name="employee[state]" id="state">
      	<option value="AK">AK</option>
      	<option value="AL">AL</option>
      	<option value="AR">AR</option>
      	<option value="AZ">AZ</option>
       	<option value="CA">CA</option>
      	<option value="CO">CO</option>
      	<option value="CT">CT</option>
      	<option value="DC">DC</option>
      	<option value="DE">DE</option>
      	<option value="FL">FL</option>
      	<option value="GA">GA</option>
      	<option value="HI">HI</option>
      	<option value="IA">IA</option>
      	<option value="ID">ID</option>
      	<option value="IL">IL</option>
      	<option value="IN">IN</option>
      	<option value="KS">KS</option>
      	<option value="KY">KY</option>
      	<option value="LA">LA</option>
      	<option value="MA">MA</option>
      	<option value="MD">MD</option>
      	<option value="ME">ME</option>
      	<option value="MI">MI</option>
      	<option value="MN">MN</option>
      	<option value="MO">MO</option>
      	<option value="MS">MS</option>
      	<option value="MT">MT</option>
      	<option value="NC">NC</option>
      	<option value="ND">ND</option>
      	<option value="NE">NE</option>
      	<option value="NH">NH</option>
      	<option value="NM">NM</option>
      	<option value="NJ">NJ</option>
      	<option value="NV">NV</option>
      	<option value="NY">NY</option>
      	<option value="OH">OH</option>
      	<option value="OK">OK</option>
      	<option value="OR">OR</option>
      	<option value="PA">PA</option>
      	<option value="RI">RI</option>
      	<option value="SC">SC</option>
      	<option value="SD">SD</option>
      	<option value="TN">TN</option>
      	<option value="TX">TX</option>
      	<option value="UT">UT</option>
      	<option value="VA">VA</option>
      	<option value="VT">VT</option>
      	<option value="WA">WA</option>
      	<option value="WI">WI</option>
      	<option value="WV">WV</option>
      	<option value="WY">WY</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="job">Job Title:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="employee[job]" id="job">
    </div>
  </div>
  
    <div class="form-group">
    <label class="control-label col-sm-2" for="job">SSN:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="employee[ssn]" id="ssn">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="job">Phone:</label>
    <div class="col-sm-10"> 
      <input type="number" class="form-control" name="employee[cNumber]" id="cNumber">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="job">Salary (yr):</label>
    <div class="col-sm-10"> 
      <input type="number" class="form-control" name="employee[salary]" id="salary">
    </div>
  </div>  

  <div class="form-group">
    <label class="control-label col-sm-2" for="button"></label>
    <div class="col-sm-10"> 
      <button class="btn btn-primary form-control">Submit</button>
    </div>
  </div>  

</form>

<% include partials/footer %>