<% include partials/header %>

<p><a href="/payroll_report" class="btn btn-info">Generate Report</a></p>

<h3>Tax Table</h3>

<form>
  <table class="table">

  <%
  data.forEach(function(val){
  %>
  
    <tr>
      <td><%= val.label %> tax</td>
      <td><%= val.rate %>%</td>
      <td><a href="/payroll_tax/<%= val._id %>/edit">Change</a></td>
    </tr>
  
  <%
  });
  %>

  </table>
</form>

<% include partials/footer %>